extends layout

block content
  h1 Manage Returns
  div
  table
    thead
      tr
        th Borrower
        th Due Date
        th Gender
        th Size
        th Name
        th Quantity
    tbody
      each item in results
        tr
          td #{item.borrower}
          td #{item.due_date}
          td #{item.gender}
          td #{item.size}
          td #{item.name}
          td #{item.AvailableAmount}